// :root
// 	font-size calc('1vw + 1vh 1 0.25vmin') //fuente responsive

// ::-webkit-file-upload-button
// 	cursor pointer

// a
// 	transitionBase(0.3s)
	
// 	&:hover
// 		text-decoration underline
		
// 	img
// 		border 0

// // body
// // 	// path('bg-placeholder.jpg')
// // 	background-size 100%
// // 	background-repeat no-repeat
// // 	background-position center
// // 	font-size 1.4rem
// // 	font-family $FontStack
// // 	font-weight $Light

// // h1,h2,h3,h4,h5,h6
// // 	text-transform uppercase
	
// // input
// // 	background transparent
// // 	border none
// // 	box-shadow none !important

// // input,
// // select
// // 	padding 0

// // small
// // 	font-size 75%
	
// // select
// // 	background transparent
// // 	border none
// // 	cursor pointer
	
	
// // 	option
// // 		text-align center
	
// // 	&:active, &:focus
// // 		box-shadow none !important
// // 		outline 0 !important
// // 		outline none !important

// // 	