.btn
	border-radius 5px
	display inline-block
	margin 1rem auto
	padding 5px 10px
	text-align center
	transitionBase()
	
	&:hover
		text-decoration none
	
	&-back
		background-color $Azul[1]
		border-radius 20px
		color #fff
		display block
		padding 10px 20px
		max-width 110px
		margin 0
		

		&:hover
		&:active,
		&:focus,
		&:visited
			background-color #fff
			box-shadow 0px 0px 5px 0px rgba(0, 0, 0,0.25)
			color $Azul[1]


	&-white
		background-color #eff0f0
		color $Gris
		display block
		text-decoration none