.btn
	border-radius 5px
	display inline-block
	margin 1rem auto
	padding 5px 10px
	text-align center
	transitionBase()
	
	&:hover
		text-decoration none
	
	&-white
		background-color #eff0f0
		color $Gris
		display block