#proposito-comunidades
	color #fff
	margin 0 auto
	max-width $SiteWidth
	padding-bottom 10px
	position relative
	
	h3
		color $Gris
		font-size 20px
		font-weight $Light
		padding-bottom 20px
		padding-left 7px
		position relative
		z-index 1
		
		&::after
			background-color #f48232
			border-radius 70%/40%
			bottom -30px
			content ''
			display block
			height 30px
			left 10px
			max-width 96.6%
			pointer-events none
			position absolute
			width 100%
			z-index -1
			
		&::before
			path('pilares-icon-color.png')
			background-position 0 50%
			background-repeat no-repeat
			background-size 100%
			bottom -40px
			content ''
			cuadrado(100px)
			position absolute
			pointer-events none
			right 0
			z-index 2
			

	p
		margin 0
			
	.bubble
		background-repeat no-repeat
		background-size 100%
		position absolute
		transitionBase()
		&-a
			path('bubbles-comunidad-01.png')
			left 90px
			padding 60px 30px
			top 10px
			width 255px
		
		&-b
			path('bubbles-comunidad-02.png')
			bottom 58px
			right 17px
			padding 120px 56px
			width 390px
			
			ul
				list-style-image none
				margin 0
				
				li
					// list-style-image url('../images/bullet.png')
					list-style-image url('/asset-library/PublishingImages/feature/propositos/infografia/bullet.png')
			
		&-c
			path('bubbles-comunidad-03.png')
			left 26px
			padding 60px 30px
			top 40px
			width 273px
			
		&-d
			path('bubbles-comunidad-04.png')
			padding 48px 23px
			right 40px
			text-align center
			top 380px
			width 180px
			
		&-e
			path('bubbles-comunidad-05.png')
			left 9px
			padding 63px 60px
			top 447px
			width 314px
			
			.number
				display block
				font-size 50px
				font-weight $Bold
				line-height 0.9
				text-transform uppercase
				
			.text-sub
				display block
				font-size 18px
				font-weight $Bold
				text-transform uppercase
				

		&-f
			path('bubbles-comunidad-06.png')
			padding 94px 48px
			right 10px
			text-align right
			top 607px
			width 400px
			
			.highlight
				display block
				font-size 20px
				font-weight $Bold
				text-transform uppercase
				

		&-g
			path('bubbles-comunidad-07.png')
			left 18px
			padding 44px 26px
			top 10px
			width 165px
		

		&-h
			path('bubbles-comunidad-08.png')
			left 10px
			line-height 1.1
			padding 76px 60px
			top 300px
			width 340px
			
			.highlight
				display block
				font-size 40px
				font-weight $Bold
				text-align center
				text-transform uppercase
				
		&-i
			path('bubbles-comunidad-08.png')
			bottom 50px
			padding 44px 58px
			right 10px
			width 376px
			
			p
				padding 0
				text-align center
			ul
				list-style-image none
				margin 0
				line-height 1.428571429
				
				
				li
					// list-style-image url('../images/bullet.png')
					list-style-image url('/asset-library/PublishingImages/feature/propositos/infografia/bullet.png')
					margin 5px 0
				
				
				

	.section
		&-a
			background-color #f48232
			path('bg-comunidad-01.png')
			background-position 33% 50%
			background-repeat no-repeat
			min-height 993px
			padding-top 200px
			
			.text-right
				margin 0 auto
				text-align right
				width 450px
			
		&-b,
		&-c
			background-color #f59c3e
			
		&-b
			path('bg-comunidad-02.png')
			background-position 50% 22%
			min-height 850px
			z-index 3
			
		&-c
			path('bg-comunidad-03.png')
			background-position 20% -50%
			min-height 1000px
			z-index 2
			


	

#proposito-home
	path('bg-home.jpg')
	background-position center top
	background-repeat no-repeat
	background-size cover
	color #fff
	margin 0 auto
	max-width $SiteWidth
	padding-bottom 10px
	position relative
	

	.bubble
		position absolute
		font-size 16px
		margin 0
		transitionBase()
		&-a
			path('bubbles-blue-01.png')
			background-repeat no-repeat
			background-size 100%
			left 27px
			line-height 1.4
			padding 50px 33px
			text-align right
			top 114px
			width 293px
			z-index: 2
			
		&-b
			path('bubbles-blue-02.png')
			background-repeat no-repeat
			background-size 100%
			font-size:13.3px
			line-height 1.4
			padding 40px 34px
			right 40px
			top 284px
			width 281px
			z-index: 2
			
	.section-intro
		position relative
		
		&::after
			path('bubbles-blue-03.png')
			background-repeat no-repeat
			background-size 100%
			content ' '
			display block
			height 307px
			pointer-events none
			position absolute
			right: 59px
			top 200px
			width: 329px
			z-index: 1
	
	.hashtag
		margin-bottom 50px
		margin-top 100px
		
	.logo
		height 122px
		position absolute
		right 94px
		top 60px
		transitionBase()
		width: 118px

		
		img
			img-responsive(block)
			
		


#proposito-personas
	color #fff
	margin 0 auto
	max-width $SiteWidth
	padding-bottom 10px
	position relative
	
	h3
		color $Gris
		font-size 20px
		font-weight $Light
		padding-bottom 20px
		padding-left 7px
		position relative
		z-index 1
		
		&::after
			background-color $Azul[2]
			border-radius 70%/40%
			bottom -30px
			content ''
			display block
			height 30px
			left 10px
			max-width 96.6%
			pointer-events none
			position absolute
			width 100%
			z-index -1
			
		&::before
			path('pilares-icon-color.png')
			background-repeat no-repeat
			background-size 100%
			bottom -20px
			content ''
			cuadrado(100px)
			position absolute
			pointer-events none
			right 0
			z-index 2
			

	p
		margin 0
	
	.bubble
		background-repeat no-repeat
		background-size 100%
		position absolute
		transitionBase()

		&-a
			path('bubbles-persona-01.png')
			padding 60px 20px
			right 70px
			top 5px
			width 220px

		&-b
			path('bubbles-persona-02.png')
			padding 63px 16px
			right 38px
			text-align right
			top 215px
			width 266px
			

		&-c
			path('bubbles-persona-03.png')
			left 36px
			padding 60px 30px
			top 120px
			width 250px
			
		&-d
			path('bubbles-persona-03.png')
			bottom 0
			left 76px
			padding 60px 23px
			width 324px
			
			.number
				display block
				font-size 40px
				font-weight $Bold
				line-height 0.8
				

		&-e
			path('bubbles-persona-04.png')
			left 86px
			padding 49px 32px
			text-align right
			top 177px
			width 230px
			
			&::before
				path('persona-linea-02.png')
				content ''
				display block
				height 216px
				left -49px
				pointer-events none
				position absolute
				top -26px
				width: 69px
				z-index 2
				
		&-f
			path('bubbles-persona-05.png')
			left 18px
			padding 60px 40px
			top 355px
			width 358px
			
			p
				line-height 1.4
				margin 0
				// :nth-of-type(3)
				// 	margin-top 30px

			.intro,
			.number
				display inline-block
				max-width 45%
				vertical-align top
			
			.intro
				text-align right
				
		&-g
			path('bubbles-persona-06.png')
			left 76px
			padding 66px 27px
			top 580px
			width 350px
			z-index 3
			
			ul
				list-style-image none
				
				li
					font-size 16px
					// list-style-image url('../images/bullet.png')
					list-style-image url('/asset-library/PublishingImages/feature/propositos/infografia/bullet.png')
					margin 5px auto
					
		&-h
			path('bubbles-persona-07.png')
			bottom 99px
			left 25px
			padding 80px 30px
			width 307px
			
			&::after
				path('persona-linea-03.png')
				background-repeat no-repeat
				background-size 100%
				bottom -47px
				content ''
				display block
				height 160px
				pointer-events none
				position absolute
				right -140px
				width 360px
				z-index 2
					
					


		
	.section
		
		
		&-a,
		&-b
			background-color $Azul[2]
		&-a
			path('bg-personas-01.png')
			padding-bottom 30px
			min-height 443px
			padding-top 10px
			
		&-b
			path('bg-personas-02.png')
			background-position center top
			min-height 535px
			
			&::before
				path('persona-linea-01.png')
				background-repeat no-repeat
				background-size 100%
				bottom 17px
				content ' '
				display block
				height 392px
				left 26px
				pointer-events none
				position absolute
				width 74px
				
		
		&-c,
		&-d
			background-color $Azul[0]
			
		&-c
			path('bg-personas-03.png')
			background-position center 32px
			min-height 788px
			z-index 2
			

			.text-right
				position absolute
				right 42px
				text-align right
				top 449px
				width 170px
			
		&-d
			path('bg-personas-04.png')
			background-position center top
			min-height 640px
			
			.text-close
				bottom 47px
				position absolute
				right 45px
				text-align right
				width 240px



#proposito-planeta
	color #fff
	margin 0 auto
	max-width $SiteWidth
	padding-bottom 10px
	position relative
	
	h3
		color $Gris
		font-size 20px
		font-weight $Light
		padding-bottom 20px
		padding-left 7px
		position relative
		z-index 1
		
		&::after
			background-color #5dab49
			border-radius 70%/40%
			bottom -30px
			content ''
			display block
			height 30px
			left 10px
			max-width 96.6%
			pointer-events none
			position absolute
			width 100%
			z-index -1
			
		&::before
			path('pilares-icon-color.png')
			background-position 0 100%
			background-repeat no-repeat
			background-size 100%
			bottom -26px
			content ''
			cuadrado(100px)
			position absolute
			pointer-events none
			right 0
			z-index 2
			

	p
		margin 0
			
	.bubble
		background-repeat no-repeat
		background-size 100%
		position absolute
		transitionBase()
		
		&-a
			path('bubbles-planeta-01.png')
			padding 90px 50px
			right 5px
			text-align right
			top -60px
			width 267px
			
		&-b
			path('bubbles-planeta-03.png')
			left 62px
			padding 45px 40px
			width 160px
			
		&-c
			path('bubbles-planeta-04.png')
			padding 51px 33px
			right 71px
			text-align right
			top 236px
			width 180px
			

		&-list
			path('bubbles-planeta-05.png')
			background-repeat no-repeat
			padding 120px 82px
			margin 30px 0 0
			width 414px
			li
				// list-style-image url('../images/bullet.png')
				list-style-image url('/asset-library/PublishingImages/feature/propositos/infografia/bullet.png')
				margin 5px 0 0

	.section
		&-a,
		&-b
			background-color #5dab49
			
		&-c,
		&-d
			background-color #6ab859

		&-a
			min-height 454px
			padding-bottom 10px
			padding-top @padding-bottom
			
			img
				img-responsive(block)
				margin 1rem auto 0
				width 526px

			.text-intro
				margin 10px auto 50px
				max-width 458px
				padding 10px
				width 100%
		&-b
			path('bg-planeta-02.png')
			background-position center top
			min-height 473px
			
		&-c
			path('bg-planeta-03.png')
			background-position 50% 10%
			min-height 590px
			padding-top 260px

			img
				img-responsive(block)
				margin-left 14px
				max-width 230px
				

			.text-right
				text-align right
				margin -50px auto 0
				max-width 508px
				
				p
					margin 0
					padding 0 10px
					
					&:nth-of-type(1)
						margin-left 248px
						max-width 260px
						
		&-d
			path('bg-planeta-04.png')
			background-position 50% 0
			min-height 980px
			
			.text-center
				margin 0 auto
				max-width 500px
				padding-top 400px
				padding-left 10px
				padding-right @padding-left

#video-proposito
	display block
	height 0
	padding 0
	padding-bottom 56.25%
	position relative
	
	iframe
		bottom 0
		cuadrado(100%)
		left 0
		position absolute
		right 0
		top 0
		

.hashtag
	path('hashtag.png')
	background-repeat no-repeat
	background-size 100%
	height 38px
	margin 1rem auto
	transitionBase()
	width 227px
	
	&-light
		background-position bottom
		



.pilar
	padding-left 10px
	padding-right @padding-left
	color #fff

	
	.container-color
		color #fff
		min-height 200px
		padding 10px
		
		
		h2
			border-bottom 2px solid white
			color #fff
			font-size 16px
			padding 100px 0 10px 0
			position relative
			text-align center
			height 140px
			
			&::before			
				path('pilares-icon-blanco.png')
				background-repeat no-repeat
				background-size 100px
				background-position 50% 0
				content ''
				cuadrado(100px)
				position absolute
				top 0
				left 50%
				transform translateX(-50%)
				
	

	&-desc
		font-size 14px
		line-height 1
		text-align justify
		padding 10px
		

		li
			// list-style-image url('../images/bullet-home.png')
			list-style-image url('/asset-library/PublishingImages/feature/propositos/infografia/bullet-home.png')
			margin 10px auto 20px
			
		
		ul
			list-style-type none
			list-style-image none
			
			li
				list-style-image none


	&-title
		font-size 14px
		list-style-type none
		padding-left 50px
		
		li
			list-style-image none
			margin 10px auto 20px
			padding 10px
			position relative
			

			
			&:nth-of-type(1)
				margin-top 20px
				
			&::before
				path('pilares-icon-color.png')
				background-repeat no-repeat
				background-size 47px
				content ' '
				cuadrado(47px)
				left -50px
				position absolute
				display block
				top 0
				
			
		.pilar
			&-comunidad
				background-color $Naranja
				&::before 
					background-position 50% 50%
			&-personas
				background-color darken($Azul[0],20%)
			&-planeta
				background-color $Verde
				&::before 
					background-position 50% 100%
			

	&-comunidades
		.container-color
			background-color rgba($Naranja, 0.85)
			
			h2
				&::before		
					background-position 50% 50%
					

			.btn-white
				box-shadow 0px 0px 0px 0px rgba(0, 0, 0,0.25)

				&:hover
					background-color $Naranja
					box-shadow 0px 0px 5px 0px rgba(0, 0, 0,0.25)
					color white
					
	
	&-personas
		.container-color
			background-color rgba($Azul[0], 0.85)

			.btn-white
				box-shadow 0px 0px 0px 0px rgba(0, 0, 0,0.25)
				
				&:hover
					background-color $Azul[0]
					box-shadow 0px 0px 5px 0px rgba(0, 0, 0,0.25)
					color white
					
			
	&-planeta
		.container-color
			background-color rgba($Verde, 0.85)
			
			h2
				&::before		
					background-position 50% 100%
					

			.btn-white
				box-shadow 0px 0px 0px 0px rgba(0, 0, 0,0.25)
				
				&:hover
					background-color $Verde
					box-shadow 0px 0px 5px 0px rgba(0, 0, 0,0.25)
					color white
					

.section
	background-position center
	background-repeat no-repeat
	color #fff
	margin 0 auto
	position relative
	transitionBase()
		
