// .bg-age-gate
// 	path('bg-header-placeholder.png')
// 	background-position center
// 	background-repeat no-repeat

.row
	make-row()
	margin 0 auto
	// max-width $SiteWidth
	padding-left 10px
	padding-right @padding-left
	position relative
	width 100%
	
	&-content
		margin-top 513px