@media (max-width:570px)
	#proposito-home
		
		p
			color #fff 
			font-size 16px
		
		.bubble
			left 0
			position relative
			right 0
			top 0
			
			&-a
				padding 62px 46px
				width 328px
				
			&-b
				color #fff
				font-size 16px
				padding 69px 28px
				width 340px
				
		.hashtag
			margin-top 50px
		
		.logo
			right 10px
			top @right
		
		.row-content
			margin-top 10px
			
		.section-intro
			&::after
				content none
				

	

	#proposito-personas
		h3
			&::after
				content none
			&::before
				bottom -42px
		

		.section
			&-c
				min-height 980px
				
				.text-right
					top unset
					bottom 10px
					width 250px

	ul.pilar-desc,
	ul.pilar-title
		font-size 16px
		line-height 1.2
		

	.pilar
		margin-bottom 50px
		margin-top @margin-bottom
		
		&:nth-of-type(1)
			margin-top 0
			
		.container-color
			h2
				font-size: 22px
				

			.btn
				font-size 18px
				

@media (max-width:510px)
	#proposito-home
		.bubble
			background-color rgba($Azul[1], 0.5)
			background-image none
			border-radius 70%
			margin 1rem auto
			text-align center
			width 100%
			
		.logo
			position relative
			top 0
			right 0
			margin 20px auto
			
	#proposito-personas
		.bubble
			&-g
				left 28px
				
			&-h
				&::after
					bottom -77px
					right -80px

