@media (max-width:570px)
	#proposito-home
		
		p
			color #fff 
			font-size 16px
		
		.bubble
			left 0
			position relative
			right 0
			top 0
			
			&-a
				padding 62px 46px
				width 328px
				
			&-b
				color #fff
				font-size 16px
				padding 69px 28px
				width 340px
				
		.hashtag
			margin-top 50px
		
		.logo
			right 10px
			top @right
		
		.row-content
			margin-top 10px
			
		.section-intro
			&::after
				content none
				

	

	#proposito-personas
		h3
			&::after
				content none
			&::before
				bottom -42px
		

		.section
			&-c
				min-height 980px
				
				.text-right
					top unset
					bottom 10px
					width 250px

	ul.pilar-desc,
	ul.pilar-title
		font-size 16px
		line-height 1.2
		

	.pilar
		margin-bottom 50px
		margin-top @margin-bottom
		
		&:nth-of-type(1)
			margin-top 0
			
		.container-color
			h2
				font-size: 22px
				

			.btn
				font-size 18px
				

@media (max-width:510px)
	#proposito-home
		.bubble
			background-color rgba($Azul[1], 0.5)
			background-image none
			border-radius 70%
			margin 1rem auto
			text-align center
			width 100%
			
		.logo
			position relative
			top 0
			right 0
			margin 20px auto
			
	#proposito-personas
		.bubble
			max-width 95%
			&-d,
			&-e,
			&-f,
			&-g
				left 10px
				
			&-e
				&::before
					content none
				
			&-h
				&::after
					content none

@media (max-width:420px)
	#proposito-personas
		.bubble
			&-d,
			&-e,
			&-f,
			&-g
				left 2px
			&-f
				background-color rgba($Azul[2], 0.6)
				background-image none
				border-radius 30%
				padding 61px 9px
				text-align center
				
				p
					&:nth-of-type(3)
						margin-top 5px
				
			&-g
				background-color rgba( lighten($Azul[0], 20%) , 0.6)
				background-image none
				border-radius 30%
				padding 44px 20px
				ul
					li
						font-size 14px 

			&-h
				left 5px

@media (max-width:390px)
	#proposito-personas
		h3
			&::before
				bottom -30px
				cuadrado(50px)

		.bubble				
			&-a
				left 2px
			&-b
				right 2px
			&-c
				left 2px
			&-d
				background-color rgba( lighten($Azul[0], 20%) , 0.6)
				background-image none
				border-radius 30%
				bottom 15px
				padding 42px 23px
				
			&-f
				.intro
					display block
					margin 0 auto
					text-align center
					max-width 100%
			&-h
				bottom 150px
				padding 66px 30px
				
		.section
			&-b
				min-height 615px
				
			&-c
				min-height 1040px
			
				.text-right
					bottom 20px
					right 10px
					
@media (max-width:350px)
	#proposito-personas
		.bubble
			&-h
				padding 66px 30px

