$Azul              = #009fdd #2b2f5e
$Gris              = #606060
$Naranja           = #da813b
$Verde             = #79a951


$Icons             = 'Glyphicons Halflings'
$FontStack         = 'Roboto', sans-serif


$Bold              = 700
$Light             = 300
$Normal            = 400


//Site grid spacing and width
$Gutter            = 5px
$SiteWidth         = 572px

//Screen Sizes - Rewrite Bootstrap

// $screen-xs      = 320px // 480px
$screen-sm         = 770px // 768px
// $screen-md  //992px
$screen-lg         = 572px // 1200px
$grid-gutter-width = $Gutter