mixin image(src, name)
	//- img(src="images/"+src, title=name, alt=name)&attributes(attributes)
	img(src="/asset-library/PublishingImages/feature/propositos/infografia/"+src, title=name, alt=name)&attributes(attributes)

//-Implementation
	+image('filename', 'alt/title text')(other attributes)
